.navbar-brand {
    font-size: xx-large;
}

.city-search{
    font-size: large ;
    font-weight: bold;
}

.input-group{
    margin-left: 15px;
    margin-top: 10px;

}
/* .current-forecast{
    
} */
