.navbar-brand {
    font-size: xx-large;
}

/* .city-search{
    font-size: large ;
    font-weight: bold;
} */

.input-group{
    margin-left: 15px;
    margin-top: 10px;

}
.weatherCard{
    margin: 5px;
    
}
.font{

    font-size: 8px;
}